@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Fira Sans", serif; */

body{
    background-color: #f5f5f5;
}

/* ================ Navigation Start =============== */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 160px;
    margin-left: 160px;
}
nav li{
    list-style: none;
}
.title{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    color: rgb(14, 14, 14);
}
.btn-1{
    padding: 15px 30px;
    border-radius: 8px;
    border: solid 1px rgb(0, 106, 80);
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
    color: rgb(0, 106, 80);
}
.btn-1:hover{
   background-color: rgb(0, 106, 80);
   color: rgb(255, 255, 255);
}
/* =============== Navigation End ================ */




/* =============== Banner start =============== */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
}
.hero{
    margin-right: 160px;
    margin-left: 160px;
    margin-top: 20px;
    background-color: aqua;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}
.banner-btn{
    padding: 17px 34px;
    border-radius: 8px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    border: none;
}
.banner-btn:hover{
    color: rgb(0, 106, 80);
    border: solid 1px rgb(0, 106, 80);
    background-color: #f5f5f5;
    border: none;
}
.sub-title{
    font-family: "Fira Sans", serif;
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.higlight-text{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 56px;
    padding-right: 290px;
}

/* =============== Banner End =============== */


.main-1{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}
.container-1{
    margin: 80px 160px 80px 160px;
}
.single-card{
    background-color: rgb(255, 255, 255);
    padding: 24px 24px;
    border-radius: 16px;
    border: solid 1px rgba(14, 14, 14, 0.15);   
}
.main-1 h3{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}
.main-1 p{
    font-family: "Fira Sans", serif;
    font-weight: 400; 
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
}
.container-1 h2{
    font-family: "Fira Sans", serif;
    font-weight: 700; 
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
}
/*================ End ================ */

.vision-title{
    margin: 0 160px 0 160px;
}
.vision-title h2{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}
.vision-title p{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(14, 14, 14); 
}
.vision-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin: 0 160px 0 160px;
}
.vision-card{
    padding: 32px 32px;
    border-radius: 16px;   
}
.vision-card button{
    padding: 13px;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
}
.vision-card h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 700;
}
.vision-card p{
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
}
.para-container{
     margin: 32px 160px 0 160px;
     background-color: rgb(255, 255, 255);
     border-radius: 16px;
     border: 1px solid rgba(14, 14, 14, 0.15);;
}
.para-item{
    padding: 48px 24px 48px 24px;
   
}
.para-item p{
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(../assets/quote-bg.png);

}
.para-item h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 600;   
}
.para-item h5{
    color: rgba(14, 14, 14, 0.6);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;   
}
/*================ End ================ */

.Recent-nwes{
    margin: 0 160px 24px 160px;
    
}
.nwes-container{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    padding: 48px;
    background-color:rgb(255, 255, 255);
    border-radius: 24px;
    align-items: center;

}
.nwes-container img{
    border-radius: 24px;
}
.nwes-container h3{
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700px; 
    
}
.nwes-container h5{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400px; 
    color: rgba(14, 14, 14, 0.7); 
}
.nwes-container p{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400px; 
    color: rgba(14, 14, 14, 0.7); 
}
.nwes-container button{
    font-family: "Fira Sans", serif;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px; 
    color: rgb(255, 255, 255); 
    padding: 13px 26px;
    background-color: rgb(0, 106, 80);
    border: none;
}

.Recent-nwes h2{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700px;
    color: rgb(14, 14, 14);
}
.rec-para{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400px;
    color: rgb(14, 14, 0.7);
}

/*================ End ================ */
.donet-container{
    margin: 0 160px 0 160px;
    text-align: center;
}
.donet-container h2{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700px;
    color: rgb(14, 14, 14);
}
.donet-container p{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400px;
    color: rgb(14, 14, 14);
    padding: 0 199px;
}
.donet-btn{
    padding: 40px;
    font-family: "Fira Sans", serif;
    border-radius: 16px;
    font-size: 40px;
    font-weight: 700;
    border: 1px solid rgba(14, 14, 14, 0.15);  
}
.donet-btn:hover{
    background-color: rgb(198, 228, 214);
}
.donet-btns{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.donet-amount{
    padding: 20px 40px;
    width: 952px 24px;
}